In [234]:
import pandas as pd
import requests, csv, json, datetime

In [235]:
r = requests.get('https://data.ny.gov/resource/ca8h-8gjq.json?$limit=20000')

In [262]:
json_data = json.loads(r.text)

In [263]:
df = pd.DataFrame(json_data)

In [264]:
df.columns

Index(['agency', 'aggravated_assault', 'burglary', 'county', 'forcible_rape',
       'larceny', 'months_reported', 'motor_vehicle_theft', 'murder',
       'property', 'region', 'robbery', 'total_index_crimes', 'violent',
       'year'],
      dtype='object')

In [265]:
df.sort_values(['year', 'county'], inplace = True)

In [266]:
mask1 = df['county'] != 'Region Total'
mask2 = df['agency'] == 'County Total'

In [267]:
df_export = df[mask1 & mask2]

In [268]:
df_export.reset_index(inplace = True)

In [269]:
del df_export['index']

In [270]:
df_export.fillna(value = 0, inplace = True)

In [271]:
df_export['property'] = df_export['property'].astype(int)

C:\Users\jhernandez\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [272]:
df_export['violent'] = df_export['violent'].astype(int)

C:\Users\jhernandez\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [278]:
df_export['total_index_crimes'] = df_export['total_index_crimes'].astype(int)

C:\Users\jhernandez\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [279]:
df_pivot = df_export.pivot_table(index = ['year', 'county'], aggfunc = 'sum')

In [280]:
df_pivot

                  property  total_index_crimes  violent
year county
1990 Albany          12894               14418     1524
     Allegany         1134                1280      146
     Bronx           71094              104729    33635
     Broome           7174                7480      306
     Cattaraugus      2407                2578      171
     Cayuga           2135                2331      196
     Chautauqua       5484                5713      229
     Chemung          3532                3816      284
     Chenango         1100                1178       78
     Clinton          1979                2221      242
     Columbia         1701                1954      253
     Cortland         2027                2123       96
     Delaware         1019                1092       73
     Dutchess         7853                8957     1104
     Erie            44924               52314     7390
     Essex             881                 959       78
     Franklin          940                1166      226
     Fulton           2161                2259       98
     Genesee          1558                1647       89
     Greene           1235                1440      205
     Hamilton           96                 100        4
     Herkimer         1210                1287       77
     Jefferson        2948                3135      187
     Kings          138922              202009    63087
     Lewis             286                 322       36
     Livingston       1768                1915      147
     Madison          1853                1913       60
     Monroe          39262               42579     3317
     Montgomery        981                1015       34
     Nassau          38919               42142     3223
...                    ...                 ...      ...
2017 Oneida           4079                4773      694
     Onondaga         9464               10893     1429
     Ontario          1487                1622      135
     Orange           5865                6739      874
     Orleans           677                 763       86
     Oswego           1762                1980      218
     Otsego            639                 732       93
     Putnam            574                 628       54
     Queens          23676               32860     9184
     Rensselaer       3066                3513      447
     Richmond         4518                5969     1451
     Rockland         3007                3404      397
     Saratoga         2516                2795      279
     Schenectady      3921                4592      671
     Schoharie         277                 314       37
     Schuyler           55                  70       15
     Seneca            495                 568       73
     St Lawrence      1378                1512      134
     Steuben          1092                1263      171
     Suffolk         18850               20543     1693
     Sullivan         1059                1280      221
     Tioga             408                 456       48
     Tompkins         1810                1949      139
     Ulster           2262                2550      288
     Warren            972                1079      107
     Washington        426                 503       77
     Wayne            1301                1487      186
     Westchester      9624               11572     1948
     Wyoming           275                 346       71
     Yates             233                 259       26

[1736 rows x 3 columns]

In [281]:
df_pivot.to_csv('NY_Crime.csv', mode = 'w')

In [231]:
#df_counties = df['county'].sort_values().drop_duplicates()

In [232]:
#pd.DataFrame(df_counties).to_csv('NY_Counties.csv', index = False, mode = 'w')

In [233]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1596 entries, (1990, Albany) to (2017, Yates)
Data columns (total 3 columns):
property             1596 non-null int32
total_index_crime    1596 non-null int32
violent              1596 non-null int32
dtypes: int32(3)
memory usage: 22.6+ KB